<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.donica.wqacvr.mapper.TerminalMapper">

	<!-- 查询终端列表 -->
	<select id="queryById" parameterType="int" resultType="TerminalDTO">
		select * from t_terminal where terminal_id=#{terminalId}
	</select>
	
</mapper>